In [4]:
from Bio import SeqIO
import pandas as pd

In [6]:
DATA_PATH = "./data/implant_shm_seed24_100_000.fasta"
df = pd.DataFrame()
for i, seq_record in enumerate(SeqIO.parse(DATA_PATH, "fasta")):
    df.loc[i, "sequence"] = str(seq_record.seq)
    id_elements = seq_record.id.split(":")
    id_fields = [
        "v_call", "d_call", "j_call", 
        "V3P_length", "D5P_length", "D3P_length", "J5P_length",
        "V3D_length", "D5D_length", "D3D_length", "J5D_length",
        "np1_length", "np2_length", "np1", "np2",
        "np1_sequence_start", "d_sequence_start", "np2_sequence_start", "j_sequence_start",
        "productivity", "index", "evolution_time"
    ]
    df.loc[i, id_fields] = id_elements[:-1]
df.head()

,sequence,v_call,d_call,j_call,V3P_length,D5P_length,D3P_length,J5P_length,V3D_length,D5D_length,...,np2_length,np1,np2,np1_sequence_start,d_sequence_start,np2_sequence_start,j_sequence_start,productivity,index,evolution_time
0,GAAGTGCAGCTGGTGGAGTCTGGGGGAGGCTTGGTACAGCCTGGCA...,IGHV3-9*01,IGHD6-19*01,IGHJ4*01,0,0,0,0,0,16,...,17,TT,TCTGTCGGAGCCTGTTA,298,300,304,321,Productive,index_0,T_0
1,CAGCTGCAGCTGCAGGAGTCGGGCCCAGGACTGGTGAAGCCTTCGG...,IGHV4-39*01,IGHD3-22*01,IGHJ6*01,1,0,0,0,0,2,...,7,T,TCGTGTG,300,301,323,330,Productive,index_0,T_0
2,GAGGTGCAGCTGTTGGAGTCTGGGGGAGGCTTGGTACAGCCTGGGG...,IGHV3-23*01,IGHD4-17*01,IGHJ2*01,0,0,0,6,1,3,...,3,,GTT,295,295,296,299,Productive,index_0,T_0
3,CAGGTGCAGCTGGTGCAGTCTGGGGCTGAGGTGAAGAAGCCTGGGG...,IGHV1-2*01,IGHD6-13*01,IGHJ4*01,0,0,0,0,1,12,...,2,GACAGGG,AG,295,302,308,310,Productive,index_0,T_0
4,CAGGTGCAGCTGGTGGAGTCTGGGGGAGGCGTGGTCCAGCCTGGGA...,IGHV3-30-3*01,IGHD3-22*01,IGHJ3*01,7,0,0,0,0,14,...,2,CCCT,AC,303,307,314,316,Productive,index_0,T_0

In [25]:
df.duplicated().any()

False

In [26]:
df["sequence"].duplicated().any()

False

In [10]:
seq = df.loc[0, "sequence"]
np1_start = int(df.loc[0, "np1_sequence_start"])
np1_end = int(df.loc[0, "d_sequence_start"])
np2_start = int(df.loc[0, "np2_sequence_start"])
np2_end = int(df.loc[0, "j_sequence_start"])
print(seq[np1_start:np1_end])
print(seq[np2_start:np2_end])

TT
TCTGTCGGAGCCTGTTA

In [12]:
df_new = pd.DataFrame()
df_new["sequence"] = df["sequence"]
df_new["v_sequence_start"] = 1
df_new["v_sequence_end"] = df["np1_sequence_start"].astype("int32")
df_new["d_sequence_start"] = df["d_sequence_start"].astype("int32") + 1
df_new["d_sequence_end"] = df["np2_sequence_start"].astype("int32")
df_new["j_sequence_start"] = df["j_sequence_start"].astype("int32") + 1
df_new["j_sequence_end"] = df["sequence"].str.len()
df_new.head()

,sequence,v_sequence_start,v_sequence_end,d_sequence_start,d_sequence_end,j_sequence_start,j_sequence_end
0,GAAGTGCAGCTGGTGGAGTCTGGGGGAGGCTTGGTACAGCCTGGCA...,1,298,301,304,322,364
1,CAGCTGCAGCTGCAGGAGTCGGGCCCAGGACTGGTGAAGCCTTCGG...,1,300,302,323,331,388
2,GAGGTGCAGCTGTTGGAGTCTGGGGGAGGCTTGGTACAGCCTGGGG...,1,295,296,296,300,358
3,CAGGTGCAGCTGGTGCAGTCTGGGGCTGAGGTGAAGAAGCCTGGGG...,1,295,303,308,311,355
4,CAGGTGCAGCTGGTGGAGTCTGGGGGAGGCGTGGTCCAGCCTGGGA...,1,303,308,314,317,361

In [13]:
df_new.to_csv("./data/implant_shm_seed24_100_000.tsv", sep="\t")